<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grd_projecttt">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Queries -->
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
            <!-- Uncomment if needed -->
            <!-- <action android:name="android.intent.action.TTS_SERVICE" /> -->
        </intent>
    </queries>

    <!-- Minimum SDK version -->
    <uses-sdk android:minSdkVersion="21" />

    <!-- Application -->
    <application
        android:label="AuraSpeack test"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|screenLayout|density|locale|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"> <!-- Add this line -->
           
            <!-- <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/launch_background" /> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Meta-data -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
